@font-face {
    font-family: "SP";
    src: url('../medias/fonts/SP.ttf');
}
@font-face {
    font-family: "SP2";
    src: url('../medias/fonts/SP2.ttf');
}
@font-face {
    font-family: "SP-titres";
    src: url('../medias/fonts/SP-titres2.ttf');
}

video{
	width: 100%;
}
body{
	background-image: url(../medias/images/bgHeader.jpg);
	color: #ffcd7f;
	margin: 0;
}
.navbar{
	border-bottom: 2px solid #17401e;
}
.navbar, .nav{
	background-image: url(../medias/images/bgHeader.jpg);
	border: none;
}
.navbar-header{
	background-image: url(../medias/images/bg.jpg);
	color: #461E06;
}
#logo{
	display: inline-block;
	width: 2em;
}
#titreApp{
	color: #ffcd7f;
	font-family: "SP2", Arial;
	font-size: 1em;
}
.navbar-nav a{
	font-size: 2em;
	font-family: "SP";
}
.navbar{
	border-bottom: 2px solid #17401e;
}
img{
	width: 100%;
}
h1, h2, h3, h4, h5{
	font-family: "SP-titres";
}
h4{
	margin: 10px 10px 0 10px;
	padding-bottom: 0.25em;
	border-bottom: 2px solid #17401e;
	background-color: #257032;
	border-radius: 10px 10px 0 0;
	padding: 10px;
	background-image: url(../medias/images/bg-title.jpg);
	-moz-box-shadow: 0px 5px 3px 0px black;
	-webkit-box-shadow: 0px 5px 3px 0px black;
	-o-box-shadow: 0px 5px 3px 0px black;
	box-shadow: 0px 5px 3px 0px black;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=black, Direction=180, Strength=3);
	position: relative;
}
h4 + article{
	margin: 0 10px 10px 10px;
	border-radius: 0 0 10px 10px;
	background-color: #461E06;
	background-image: url(../medias/images/bg.jpg);
	padding: 10px;
}
.pave{
	text-align: justify;
}
#illustration{
	margin-bottom: 10px;
}
.icon-deco{
	width: 30px;
	float: right;
}
.group{
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 0em;
}
.group *{
	font-size: 1rem;
}
.imgGroup{
	width: 100%;
}
.containerImgGroup{
	padding:0;
	display: inline-block;
	width: 30%;
}
.details{
	width:70%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}
.group p{
	font-size: 3em;
	font-family: "SP"
}

.group .auteur{
	float: right;
	color: #BBBCBF;
	font-family: "Times";
}
.group .auteur i{
	font-size: 0.5em;
}