<html>
<head>
	<title>Steampunk Factory</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style/bootstrap-theme.css">
	<script src="js/libs/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link rel="stylesheet" type="text/css" href="style/video-js.css">
	<script src="js/libs/bootstrap.js"></script>
</head>
<body>

<section ng-app="App">
	<div class="bs-example" ng-controller="navCtrl">
	    <nav role="navigation" class="navbar navbar-default">
	        <div class="navbar-header">
	            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
	                <span class="sr-only">Toggle navigation</span>
	                <img id="logo" src="medias/images/gears.png" alt="gears"> 
	            </button>
	            <a href="javascript:void(0)" ng-click="showAccueil()" class="navbar-brand"><p id="titreApp">STEAMPUNK FACTORY</p></a>
	        </div>
	        <!-- Collection of nav links and other content for toggling -->
	        <div id="navbarCollapse" class="collapse navbar-collapse">
	            <ul class="nav navbar-nav  navbar-right">
	                <li ng-click="showMusic()" ><a href="javascript:void(0)">Music</a></li>
	                <li ng-click="showBooks()"><a href="javascript:void(0)">Books</a></li>
	                <li ng-click="showMovies()"><a href="javascript:void(0)">Films</a></li>
	            </ul>
	        </div>
	    </nav>
	</div>
	
	<!--AIzaSyCtKw1C1pX9jA1kGwwwu28y1J46bvjaaUY
API Key: 6ab789abc8628d2560061c95e5fc84f6
Secret: is 365894dc8262b9f5bfa5064310fd2366
key films : c39c634a043801182da70d7b7c61636f

-->

	<div ng-view></div>
</section>


<script src="js/libs/angular.js"></script>
<script src="js/libs/angular-resource.js"></script>
<script src="js/libs/angular-route.js"></script>
<script src="js/libs/angular-sanitize.js"></script>
<script src="js/libs/jquery.js"></script>
<script src="js/libs/video.novtt.js"></script>
<script src="js/libs/video.js"></script>
<script src="js/angular/App.js"></script>
<script src="js/accueil.js"></script>
<script src="js/angular/controller/AccueilCtrl.js"></script>
<script src="js/angular/controller/MusicCtrl.js"></script>
<script src="js/angular/controller/BooksCtrl.js"></script>
<script src="js/angular/controller/MoviesCtrl.js"></script>




</body>
</html>