<div ng-controller="BooksCtrl">

    <h4>Livres Steampunk <img src="medias/images/deco.png" alt="deco" class="icon-deco"></h4>
	<article>
    	<img src="medias/images/book.jpg"></img>
    </article>

    <h4>Les livres Steampunk <img src="medias/images/deco.png" alt="deco" class="icon-deco"></h4>
    <article>
    	<div ng-repeat="book in books" class="group">
	    	<div class="containerImgGroup">
	    		<img ng-src="{{book.best_book.image_url}}" class="imgGroup">
	    	</div>
	    	<div class="details">
	    		<p>{{ book.best_book.title }}</p>
	    		<p class="auteur"><i> - par {{book.best_book.author.name}}</i></p>
	    	</div>
	    </div>
    </article>

</div>