<div ng-controller="MoviesCtrl">
	<h4>Films Steampunk <img src="medias/images/deco.png" alt="deco" class="icon-deco"></h4>
	<article>
    	<h5>Bande-annonce - Sherlock Holmes</h5>
        <video controls preload="auto" src="medias/videos/Sherlock_Holmes.mp4" id="ba">Bande-annonce - Sherlock Holmes</video>
        <div id="controls">
        	<button ng-if="pause" title="play" ng-click="toggleVideo()">Play</button>
        	<button ng-if="play" title="pause" ng-click="toggleVideo()">Pause</button>
        </div>
    </article>

    <h4>Les Films Steampunk <img src="medias/images/deco.png" alt="deco" class="icon-deco"></h4>
    <article>
    	<div ng-repeat="film in films" class="group">
	    	<div class="containerImgGroup">
	    		<img ng-src="https://image.tmdb.org/t/p/w45{{film.poster_path}}" class="imgGroup">
	    	</div>
	    	<div class="details">
	    		<p>{{ film.title }}</p>
	    		<p class="auteur"><i> - Sorti le {{film.release_date}}</i></p>
	    	</div>
	    </div>
    </article>
</div>