<div ng-controller="AccueilCtrl">

<div>
	<div>
	    <h4>Qu'est ce que Steampunk Factory ? <img src="medias/images/deco.png" alt="deco" class="icon-deco"></h4>
	    <article>    
	        <img src="medias/images/SP-illustration.jpg" alt="Steampunk illustration" id="illustration">
	        <p class="pave">D'aucun connaîtra le mouvement culturel que l'on appelle le Steampunk, saura qu'il est difficile de trouver des oeuvres sur le sujet. Steampunk Factory est là non seulement pour apporter des informations sur ce mouvement, mais également pour rescencer les différentes oeuvres que l'on peut qualifier de steampunk.</p>
	    </article>
	</div>
</div>
</div>