<div ng-controller="MoviesCtrl">
	<h4>Films Steampunk <img src="medias/images/deco.png" alt="deco" class="icon-deco"></h4>
	<article>
    	<h5>Bande-annonce - Sherlock Holmes</h5>
        <video controls preload="auto"  id="ba">
            <source src="medias/videos/Sherlock_Holmes.mp4" type="video/mp4">
            <track kind="captions" src="medias/videos/demo.captions.vtt" srclang="en" label="English" default>
            <track kind="subtitles" src="medias/videos/demo.captions.vtt" srclang="en" label="English">
        </video>
        <div id="controls">
        	<img src="medias/images/playbtn.png" ng-if="pause" title="play" ng-click="toggleVideo()" class="btnCtrl">
            <img src="medias/images/pausebtn.png" ng-if="play" title="play" ng-click="toggleVideo()" class="btnCtrl">
        </div>
    </article>

    <h4>Les Films Steampunk <img src="medias/images/deco.png" alt="deco" class="icon-deco"></h4>
    <article>
    	<div ng-repeat="film in films" class="group">
	    	<div class="containerImgGroup">
	    		<img ng-src="https://image.tmdb.org/t/p/w45{{film.poster_path}}" class="imgGroup">
	    	</div>
	    	<div class="details">
	    		<p>{{ film.title }}</p>
	    		<p class="auteur"><i> - Sorti le {{film.release_date}}</i></p>
	    	</div>
	    </div>
    </article>
</div>