<div ng-controller="MusicCtrl">	
	<div>
		    <h4>Musiques Steampunk <img src="medias/images/deco.png" alt="deco" class="icon-deco"></h4>
		    <article>
		        <h5>Tribal Nomad - Abney Park</h5>
		        <video controls preload="auto" src="medias/videos/Tribal_Nomad.mp4">Musique Steampunk - Tribal Nomad - Abney Park</video>
		    </article>

		    <h4>Les groupes Steampunk <img src="medias/images/deco.png" alt="deco" class="icon-deco"></h4>
		    <article>
		    	<div ng-repeat="artist in musics.topartists.artist" class="group">
			    	<div class="containerImgGroup">
			    		<img ng-src="{{ artist.image[4]['#text'] }}" class="imgGroup" >
			    	</div>
			    	<div class="details">
			    		<p>{{ artist.name }}</p>
			    	</div>
			    </div>
		    </article>
	    </div>
	</div>
</div>